<div class="page-title">Aluno</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="form-cell text col-wid-12">
		<div class="field-title">Nome Completo</div>
		<input type="text" name="nome" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Email</div>
		<input type="text" name="email" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Telefone</div>
		<input type="text" name="telefone" autocomplete="off"/>
	</div>
	<div class="form-space"></div>
	<div class="form-cell switch col-wid-12">
		<div class="switch-title">Continuar cadastrando</div>
		<div class="pin-wrap" tabindex="0"><div class="pin"></div></div>
		<input type="hidden" name="switch" value="false"/>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-8"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" name="cancel" value="Cancelar"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" name="submit" value="Salvar"/>
	</div>
</div>
