<div class="page-title">Matrículas</div>
<div class="form-space"></div>
<div class="n-cols-14">
	<div class="form-cell text col-wid-6">
		<div class="field-title">Colaborador</div>
		<input type="text" name="nome" disabled="true"/>
		<input type="hidden" name="idUsuario"/>
		<input type="hidden" name="idSiteParceiro"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="alterarColaborador" value="Alterar"/>
	</div>
	<div class="form-cell text col-wid-3">
		<div class="field-title">De</div>
		<input type="text" name="ini"/>
	</div>
	<div class="form-cell text col-wid-3">
		<div class="field-title">Até</div>
		<input type="text" name="fim"/>
	</div>
	<div class="form-cell col-wid-12"></div>
	<div class="form-cell col-wid-2">
		<input type="button" target="buscar" value="Buscar"/>
	</div>
	<div class="form-cell pagination-table col-wid-14"></div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-12"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="sair" value="Sair"/>
	</div>
</div>
