<div class="page-title">Aluno</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<input type="hidden" name="id"/>
	<div class="form-cell text col-wid-12">
		<div class="field-title">Nome Completo</div>
		<input type="text" name="nome" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Email</div>
		<input type="text" name="email" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Telefone</div>
		<input type="text" name="telefone" autocomplete="off"/>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-5"></div>
	<div class="form-cell col-wid-1">
		<button target="add-lembrete" title="Criar lembrete">
			<span class="far fa-bell"></span>
		</button>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="delete" value="Excluir"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" name="historico" value="Histórico"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" name="submit" value="Salvar"/>
	</div>
<div class="n-cols-12">
<div class="form-space"></div>
<div class="form-line"></div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="page-subtitle">
		Matrículas
		<input type="button" class="add-button add-matricula" value="Adicionar">
	</div>
	<div class="form-cell table-cursos matriculas col-wid-12">
		<div class="content"></div>
	</div>
	<div class="page-subtitle">
		Interesses
		<input type="button" class="add-button add-interesse" value="Adicionar">
	</div>
	<div class="form-cell table-cursos interesses col-wid-12">
		<div class="content"></div>
	</div>
	<div class="form-cell col-wid-10"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" name="cancel" value="Sair"/>
	</div>
</div>
