<div class="page-title">Editar Lembrete</div>
<div class="form-space"></div>
<div class="n-cols-8">
	<div class="form-cell col-wid-3">
		<div class="field-title">Data</div>
		<input type="text" name="data"/>
	</div>
	<div class="form-cell col-wid-3">
		<div class="field-title">Horário</div>
		<input type="text" name="horario"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Aluno</div>
		<input type="text" disabled="true" name="nomeAluno"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Usuário</div>
		<input type="text" disabled="true" name="nomeUsuario"/>
	</div>
	<div class="form-cell col-wid-8">
		<div class="field-title">Texto</div>
		<textarea name="texto"></textarea>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-2"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="cancel" value="Sair"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="concluir" value="Excluir"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="submit" value="Salvar"/>
	</div>
</div>
