<div class="page-title">Agendamentos AVA</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="form-cell text col-wid-10">
		<div class="field-title">Aluno</div>
		<input type="text" name="nomeAluno" disabled/>
	</div>
	<input type="hidden" name="idAluno">
	<div class="form-cell col-wid-2">
		<input type="button" target="search" value="Alterar"/>
	</div>
	<div class="form-cell col-wid-12 pagination-table"></div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-10"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="sair" value="Sair"/>
	</div>
</div>