<div class="page-title">Histórico de Comentários</div>
<div class="form-space"></div>
<div class="n-cols-10">
	<div class="form-cell col-wid-10">
		<div class="field-title">Novo comentário</div>
		<textarea name="texto"></textarea>
	</div>
	<div class="form-cell col-wid-8"></div>
	<div class="form-cell col-wid-2">
		<button target="enviar"><span class="fas fa-envelope"></span></button>
	</div>
	<div class="form-cell chat col-wid-10">
		<div class="chat-content">
			<div class="empty">Nenhum comentário ainda</div>
		</div>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-8"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="sair" value="Sair"/>
	</div>
</div>
