<div class="page-title">Provas Agendadas</div>
<div class="form-space"></div>
<div class="n-cols-16">
	<div class="form-cell text col-wid-3">
		<div class="field-title">Data (início)</div>
		<input type="text" name="d0"/>
	</div>
	<div class="form-cell text col-wid-3">
		<div class="field-title">Hora (início)</div>
		<input type="text" name="t0" placeholder="opcional"/>
	</div>
	<div class="form-cell text col-wid-3">
		<div class="field-title">Data (fim)</div>
		<input type="text" name="d1"/>
	</div>
	<div class="form-cell text col-wid-3">
		<div class="field-title">Hora (fim)</div>
		<input type="text" name="t1" placeholder="opcional"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="search" value="Buscar"/>
	</div>
	<div class="form-cell col-wid-16 pagination-table"></div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-14"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="sair" value="Sair"/>
	</div>
</div>