<div class="page-title">Alunos em Negociação</div>
<div class="form-space"></div>
<div class="n-cols-14">
	<div class="form-cell text col-wid-12">
		<div class="field-title">Colaborador</div>
		<input type="text" name="colaborador" disabled/>
	</div>
	<div class="form-cell col-wid-2" style="vertical-align: bottom;">
		<input type="button" target="alterarColaborador" value="Alterar"/>
	</div>
	<input type="hidden" name="idUsuario"/>
	<input type="hidden" name="idSiteParceiro"/>
	<div class="form-cell col-wid-14 pagination-table"></div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-12"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="sair" value="Sair"/>
	</div>
</div>
