<div class="page-title">Novo Curso</div>
<div class="form-space"></div>
<div class="n-cols-10">
	<div class="form-cell text col-wid-6">
		<div class="field-title">Nome do curso</div>
		<input type="text" name="nome" autocomplete="off"/>
	</div>
	<div class="form-cell col-wid-4">
		<div class="field-title">Modalidade</div>
		<select name="modalidades">
			<option value="1">Semi presencial</option>
			<option value="2">100% on-line</option>
			<option value="1,2">Todos</option>
		</select>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-4"></div>
	<div class="form-cell cancel col-wid-3">
		<input type="button" name="cancel" value="Sair"/>
	</div>
	<div class="form-cell col-wid-3">
		<input type="button" name="submit" value="Salvar"/>
	</div>
</div>
