<div class="page-title">Matrícula</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<input type="hidden" name="id"/>
	<div class="form-cell text col-wid-12">
		<div class="field-title">Aluno</div>
		<input type="text" disabled="true" name="aluno"/>
	</div>
	<div class="form-cell text col-wid-6">
		<div class="field-title">Curso</div>
		<input type="text" disabled="true" name="curso"/>
	</div>
	<input type="hidden" name="idCurso"/>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Modalidade</div>
		<input type="text" disabled="true" name="modalidade"/>
	</div>
	<input type="hidden" name="idOfertaCurso"/>
	<div class="form-cell col-wid-2" style="vertical-align: bottom;">
		<input type="button" name="alterarModalidade" value="Alterar"/>
	</div>
	<div class="form-cell text col-wid-12">
		<div class="field-title">Colaborador</div>
		<input type="text" disabled="true" name="colaborador"/>
	</div>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Estado</div>
		<select name="estado"></select>
	</div>
	<input type="hidden" name="idUsuario"/>
	<input type="hidden" name="idSiteParceiro"/>
</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="form-cell col-wid-5"></div>
	<div class="form-cell col-wid-2 cancel">
		<input type="button" value="Cancelar"/>
	</div>
	<div class="form-cell col-wid-3" style="vertical-align: bottom;">
		<input type="button" target="agendar" value="Agendar AVA"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" name="salvar" value="Salvar"/>
	</div>
</div>
