<div class="page-title">Usuário</div>
<div class="form-space"></div>
<div class="n-cols-8">
	<div class="form-cell text col-wid-8">
		<div class="field-title">Nome completo</div>
		<input type="text" name="nome" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Login</div>
		<input type="text" name="login" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Senha</div>
		<input type="password" name="senha" autocomplete="off"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Confirmar senha</div>
		<input type="password" name="senha2" autocomplete="off"/>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-4"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" name="cancel" value="Cancelar"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" name="submit" value="Salvar"/>
	</div>
</div>
