<div class="page-title">Novo Lembrete</div>
<div class="form-space"></div>
<div class="n-cols-8">
	<div class="form-cell col-wid-3">
		<div class="field-title">Data</div>
		<input type="text" name="data"/>
	</div>
	<div class="form-cell col-wid-3">
		<div class="field-title">Horário</div>
		<input type="text" name="horario"/>
	</div>
	<div class="form-cell text col-wid-8">
		<div class="field-title">Aluno</div>
		<input type="text" disabled="true" name="nomeAluno"/>
	</div>
	<input type="hidden" name="idAluno">
	<div class="form-cell text col-wid-6">
		<div class="field-title">Usuário</div>
		<input type="text" disabled="true" name="nomeUsuarioDst"/>
	</div>
	<div class="form-cell col-wid-2" style="vertical-align: bottom">
		<input type="button" target="pick-user" value="Alterar"/>
	</div>
	<input type="hidden" name="idUsuarioDst">
	<div class="form-cell col-wid-8">
		<div class="field-title">Texto</div>
		<textarea name="texto"></textarea>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-4"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="cancel" value="Cancelar"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="submit" value="Salvar"/>
	</div>
</div>
