<div class="page-title">
	Editar comentário
</div>
<div class="n-cols-10">
	<div class="form-cell col-wid-10">
		<div class="field-title"></div>
		<textarea name="texto"></textarea>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-6"></div>
	<div class="form-cell col-wid-2 cancel">
		<input type="button" target="cancelar" value="Cancelar">
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="salvar" value="Salvar">
	</div>
</div>
