<div class="n-cols-8">
	<div class="form-cell text col-wid-8">
		<div class="field-title">Nome do site</div>
		<input type="text" name="nome" autocomplete="off"/>
	</div>
	<div class="form-cell selection-table col-wid-8 n-rows-5"></div>
	<div class="form-cell col-wid-6"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" name="cancel" value="Cancelar"/>
	</div>
</div>
