<div class="page-title">Fazer Login</div>
<div class="form-space"></div>
<div class="n-cols-6">
	<div class="form-cell text col-wid-6">
		<div class="field-title">Login</div>
		<input type="text" name="login" autocomplete="off"/>
	</div>
	<div class="form-cell password col-wid-6">
		<div class="field-title">Senha</div>
		<input type="password" name="senha"/>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-4"></div>
	<div class="form-cell col-wid-2">
		<input type="button" name="submit" value="Enviar"/>
	</div>
</div>
