@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/montserrat-v13-latin-regular.woff2') format('woff2'),
		url('../fonts/montserrat-v13-latin-regular.woff') format('woff');
}
* {
	font-family: Montserrat;
}
body {
	--col-size: 32px;
	--col-space: 5px;
	--row-space: 10px;
	--page-padding-x: 20px;
	--page-padding-y: 20px;
	--leftbar-full-width: 250px;
	--color-1: #257;
	--color-2: #112a3b;
}
body.leftbar-hidden {
	--leftbar-full-width: 0px;
}
.n-cols-3 {
	width: calc(var(--col-size)*3 + var(--col-space)*3);
}
.n-cols-4 {
	width: calc(var(--col-size)*4 + var(--col-space)*4);
}
.n-cols-5 {
	width: calc(var(--col-size)*5 + var(--col-space)*5);
}
.n-cols-6 {
	width: calc(var(--col-size)*6 + var(--col-space)*6);
}
.n-cols-7 {
	width: calc(var(--col-size)*7 + var(--col-space)*7);
}
.n-cols-8 {
	width: calc(var(--col-size)*8 + var(--col-space)*8);
}
.n-cols-9 {
	width: calc(var(--col-size)*9 + var(--col-space)*9);
}
.n-cols-10 {
	width: calc(var(--col-size)*10 + var(--col-space)*10);
}
.n-cols-11 {
	width: calc(var(--col-size)*11 + var(--col-space)*11);
}
.n-cols-12 {
	width: calc(var(--col-size)*12 + var(--col-space)*12);
}
.n-cols-13 {
	width: calc(var(--col-size)*13 + var(--col-space)*13);
}
.n-cols-14 {
	width: calc(var(--col-size)*14 + var(--col-space)*14);
}
.n-cols-15 {
	width: calc(var(--col-size)*15 + var(--col-space)*15);
}
.n-cols-16 {
	width: calc(var(--col-size)*16 + var(--col-space)*16);
}
.form-cell {
	display: inline-block;
	margin-top: var(--row-space);
	margin-left: var(--col-space);
	vertical-align: bottom;
}
.col-wid-1 {
	width: calc(var(--col-space)*(1 - 1) + var(--col-size)*1);
}
.col-wid-2 {
	width: calc(var(--col-space)*(2 - 1) + var(--col-size)*2);
}
.col-wid-3 {
	width: calc(var(--col-space)*(3 - 1) + var(--col-size)*3);
}
.col-wid-4 {
	width: calc(var(--col-space)*(4 - 1) + var(--col-size)*4);
}
.col-wid-5 {
	width: calc(var(--col-space)*(5 - 1) + var(--col-size)*5);
}
.col-wid-6 {
	width: calc(var(--col-space)*(6 - 1) + var(--col-size)*6);
}
.col-wid-7 {
	width: calc(var(--col-space)*(7 - 1) + var(--col-size)*7);
}
.col-wid-8 {
	width: calc(var(--col-space)*(8 - 1) + var(--col-size)*8);
}
.col-wid-9 {
	width: calc(var(--col-space)*(9 - 1) + var(--col-size)*9);
}
.col-wid-10 {
	width: calc(var(--col-space)*(10 - 1) + var(--col-size)*10);
}
.col-wid-11 {
	width: calc(var(--col-space)*(11 - 1) + var(--col-size)*11);
}
.col-wid-12 {
	width: calc(var(--col-space)*(12 - 1) + var(--col-size)*12);
}
.col-wid-13 {
	width: calc(var(--col-space)*(13 - 1) + var(--col-size)*13);
}
.col-wid-14 {
	width: calc(var(--col-space)*(14 - 1) + var(--col-size)*14);
}
.col-wid-15 {
	width: calc(var(--col-space)*(15 - 1) + var(--col-size)*15);
}
.col-wid-16 {
	width: calc(var(--col-space)*(16 - 1) + var(--col-size)*16);
}

#leftbar {
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	width: var(--leftbar-full-width);
	bottom: 0px;
	background-color: #303337;
	overflow: hidden;
	color: #fff;
}
#leftbar.hidden {
	width: 0px;
}
#leftbar #username {
	margin: 7px 7px 0px 7px;
	padding: 11px 10px 0px 10px;
	height: 30px;
	font-size: 18px;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#leftbar #logout {
	text-align: right;
	font-size: 18px;
	margin: 7px 10px 0px 0px;
}
#leftbar #logout span {
	cursor: pointer;
}
#leftbar div.menu {
	border-top: 1px solid #555a6f;
	margin-top: 5px;
}
#leftbar div.menu div.menu-option {
	background-color: #43484f;
	margin-top: 7px;
	margin-left: 7px;
	margin-right: 7px;
	font-size: 14px;
	padding-top: 5px;
	padding-left: 8px;
	height: 23px;
	cursor: pointer;
}
#leftbar div.menu div.menu-option.goback {
	background-color: #3a3d43;
}
#leftbar div.menu div.menu-option.goback > div {
	display: inline-block;
	margin-right: 10px;
}
#leftbar div.menu div.search-bar {
	background-color: #212224;
	margin-top: 5px;
	margin-right: 7px;
	margin-left: 7px;
	height: 28px;
}
#leftbar div.menu div.search-bar .icon {
	float: left;
	margin: 5px 7px 0px 7px;
}
#leftbar div.menu div.search-bar input[type='text'] {
	height: calc(100% - 2px);
	border: none;
	width: calc(var(--leftbar-full-width) - 54px);
	background-color: transparent;
	color: #fff;
	padding-left: 9px;
}

#workspace {
	position: absolute;
	top: 0px;
	left: var(--leftbar-full-width);
	right: 0px;
	bottom: 0px;
	background-color: #ddd;
	overflow: auto;
}
#workspace > .workspace-tab {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: auto;
	background-color: rgba(221, 221, 221, 0.5);
}
#workspace .tab-page {
	background-color: #fff;
	padding-top: calc(var(--page-padding-y) - var(--row-space));
	padding-bottom: var(--page-padding-y);
	padding-left: calc(var(--page-padding-x) - var(--col-space));
	padding-right: var(--page-padding-x);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
#workspace .tab-page-wrap {
	position: absolute;
}
#workspace .tab-page .page-title {
	padding-top: var(--row-space);
	padding-left: var(--col-space);
	font-size: 24px;
	font-weight: bold;
	height: 30px;
}
#workspace .tab-page .page-subtitle {
	padding-top: var(--row-space);
	padding-left: var(--col-space);
	font-size: 16px;
	font-weight: bold;
	height: 20px;
}

.form-cell select {
	width: 100%;
	height: 26px;
}
.form-cell input[type="text"],
.form-cell input[type="password"],
.form-cell textarea {
	border-radius: 2px;
	width: calc(100% - 7px);
	border: 1px solid #bbb;
}
.form-cell textarea {
	width: calc(100% - 12px);
	padding: 5px;
	height: 50px;
	display: block;
}
.form-cell input[type="text"],
.form-cell input[type="password"] {
	padding-left: 5px;
	height: 22px;
}
.form-cell input[type="password"] {
	font-family: arial;
}
.form-cell input[type="button"],
.form-cell button {
	width: 100%;
	height: 26px;
	border: 1px solid var(--color-2);
	border-radius: 3px;
	background-color: #257;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
}
.form-cell.cancel input[type="button"],
.form-cell.cancel button {
	background-color: #eee;
	border-color: #ccc;
	color: #000;
}
.form-cell input[type="button"][disabled] {
	border-color: #333;
	background-color: #666;
	color: #ccc;
	cursor: default;
}
.form-cell .field-title {
	/*height: 20px;*/
	font-size: 14px;
	font-weight: bold;
	color: #444;
}
.form-cell .field-title,
.form-cell .switch-title {
	color: #444;
}
.form-space {
	height: 12px;
}
.form-line {
	border-top: 1px solid #ccc;
	margin-left: var(--col-space);
	margin-top: var(--row-space);
}
.form-cell .switch-title {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	height: 20px;
}
.form-cell.switch.switch-on .pin-wrap {
	background-color: #5c8;
}
.form-cell.switch .pin-wrap {
	float: right;
	color: black;
	height: 18px;
	width: 40px;
	border-radius: 12px;
	background-color: #999;
	cursor: pointer;
	padding: 3px;
}
.switch .pin-wrap .pin {
	height: 18px;
	width: 18px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 5px #000;
	margin-left: 0px;
}
.switch.switch-on .pin-wrap .pin {
	margin-left: 22px;
}
body {
	--table-row-size: 22px;
	--table-border-wid: 0px;
}
div.form-cell.selection-table {
	overflow: hidden;
	background-color: #eef0f2;
	border: var(--table-border-wid) solid #ccc;
	border-radius: 2px;
}
div.form-cell.selection-table.col-wid-8 {
	width: calc(var(--col-size)*8 + var(--col-space)*7 - var(--table-border-wid)*2);
}
div.form-cell.selection-table.n-rows-5 {
	height: calc(var(--table-row-size)*6);
}
div.h-info {
	display: none;
}
div.selection-table-row {
	overflow: hidden;
	height: var(--table-row-size);
}
div.selection-table-cell {
	display: inline-block;	overflow: hidden;
	height: var(--table-row-size);
	font-size: 12px;
}
div.selection-table-cell > div {
	margin-top: 3px;
	margin-left: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
div.selection-table-head {
	height: var(--table-row-size);
}
div.selection-table-head .selection-table-row {
	background-color: #789;
	color: #fff;
}
div.selection-table-body .selection-table-row {
	cursor: pointer;
}
div.selection-table-body .selection-table-row:hover {
	background-color: rgba(0, 64, 128, 0.1);
}
input.add-button {
	font-size: 14px;
	background-color: #5a5;
	color: #fff;
	font-weight: normal;
	border-radius: 2px;
	border: 1px solid #272;
	cursor: pointer;
	text-shadow: 0px 0px 2px #050;
	float: right;
}
.table-cursos {
	overflow: auto;
	height: 105px;
}
.table-cursos .content {
	background-color: #eee;
	min-height: 105px;
}
.table-cursos .matricula {
	height: 21px;
	overflow: hidden;
}
.table-cursos .matricula.inativa {
	color: #777;
	font-style: italic;
}
.table-cursos .matricula > div {
	margin-top: 3px;
	margin-left: 5px;
	vertical-align: top;
	display: inline-block;
	font-size: 12px;
}
.table-cursos .matricula > div.nome {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 185px;
}
.table-cursos .matricula > div.modalidade {
	width: 110px;
}
.table-cursos .matricula > div.estado {
	width: 85px;
}
.table-cursos .matricula > div.setup {
	float: right;
	margin-right: 5px;
	cursor: pointer;
	color: #444;
}
.chat {
	height: 250px;
	overflow: auto;
	background-color: #777;
}
.chat .chat-content {
	margin-bottom: 10px;
}
.chat .comment {
	cursor: default;
	background-color: #eee;
	margin: 10px 10px 0px 10px;
	padding: 10px 12px;
}
.chat .comment .head {
	font-size: 12px;
}
.chat .comment .head .username {
	font-weight: bold;
}
.chat .comment .head .time {
	color: #777;
}
.chat .comment .text {
	font-size: 16px;
	margin-top: 5px;
}
.chat .empty {
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
	color: #ccc;
	font-style: italic;
}
.pagination-table .pages {
	height: 20px;
	margin-top: 10px;
	text-align: center;
}
.pagination-table .table-content {
	background-color: #eee;
	height: 301px;
}
.pagination-table .pages > div {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}
.pagination-table .pages > div.text-info {
	margin: 0px 5px;
}
.pagination-table .pages > div.button {
	cursor: pointer;
	width: 26px;
	height: 26px;
	overflow: hidden;
}
.pagination-table .pages > div.button.disabled {
	cursor: default;
	color: #777;
}
.pagination-table .pages > div.button > span {
	margin-top: 6px;
}
.pagination-table .body .row:nth-child(even) {
	background-color: #fff;
}
.pagination-table .cell .content {
	margin: 7px 7px 0px 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.pagination-table .cell {
	height: 30px;
	display: inline-block;
	vertical-align: top;
}
.pagination-table .body {
	font-size: 12px;
}
.pagination-table .head {
	font-size: 14px;
	background-color: #ddd;
	border-bottom: 1px solid #aaa;
	font-weight: bold;
}
.wrap-msg {
	border-radius: 5px;
	height: 38px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
	z-index: 2;
	box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
}
.wrap-msg.error-msg {
	background-color: rgba(128, 0, 0, 0.85);
}
.wrap-msg .msg-content,
.wrap-msg .msg-close-button {
	display: inline-block;
}
.wrap-msg .msg-content {
	margin-left: 15px;
	margin-top: 10px;
}
.wrap-msg .msg-close-button {
	margin: 0px 15px 0px 20px;
	cursor: pointer;
}
.edit-button {
	float: right;
}
.edit-button span {
	cursor: pointer;
}
.aluno-link {
	color: #47a;
	cursor: pointer;
	text-decoration: underline;
}
