<div class="page-title">Selecionar Colaborador</div>
<div class="form-space"></div>
<div class="n-cols-8">
	<div class="form-cell text col-wid-8">
		<div class="field-title">Nome</div>
		<input type="text" name="nome"/>
	</div>
	<div class="form-cell switch col-wid-8">
		<div class="switch-title">Site</div>
		<div class="pin-wrap" tabindex="0"><div class="pin"></div></div>
		<input type="hidden" name="site" value="false"/>
	</div>
	<div class="form-cell selection-table col-wid-8 n-rows-5"></div>
</div>
<div class="form-space"></div>
<div class="n-cols-8">
	<div class="form-cell col-wid-6"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" name="cancelar" value="Cancelar"/>
	</div>
</div>
