<div class="page-title">Lembretes</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="form-cell col-wid-12 pagination-table"></div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-10"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="sair" value="Sair"/>
	</div>
</div>
