<div class="page-title"></div>
<div class="n-cols-8">
	<div class="form-cell col-wid-8 plain-text"></div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-4"></div>
	<div class="form-cell col-wid-2 cancel">
		<input type="button" target="no" value="Não">
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="yes" value="Sim">
	</div>
</div>
