<div class="page-title">Nova Matrícula</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="form-cell text col-wid-12">
		<div class="field-title">Aluno</div>
		<input type="text" disabled="true" name="aluno"/>
	</div>
	<input type="hidden" name="idAluno"/>
	<div class="form-cell text col-wid-6">
		<div class="field-title">Curso</div>
		<input type="text" disabled="true" name="curso"/>
	</div>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Modalidade</div>
		<input type="text" disabled="true" name="modalidade"/>
	</div>
	<input type="hidden" name="idOfertaCurso"/>
	<div class="form-cell col-wid-2" style="vertical-align: bottom;">
		<input type="button" name="alterarCurso" value="Alterar"/>
	</div>
	<div class="form-cell text col-wid-10">
		<div class="field-title">Colaborador</div>
		<input type="text" disabled="true" name="colaborador"/>
	</div>
	<div class="form-cell col-wid-2" style="vertical-align: bottom;">
		<input type="button" name="alterarColaborador" value="Alterar"/>
	</div>
	<input type="hidden" name="estado" value="1"/>
	<input type="hidden" name="idUsuario"/>
	<input type="hidden" name="idSiteParceiro"/>
</div>
<div class="form-space"></div>
<div class="n-cols-12">
	<div class="form-cell col-wid-6"></div>
	<div class="form-cell col-wid-3 cancel">
		<input type="button" value="Cancelar"/>
	</div>
	<div class="form-cell col-wid-3">
		<input type="button" name="concluir" value="Concluir"/>
	</div>
</div>
