<div class="page-title">
	<span class="far fa-bell"></span> Lembrete
</div>
<div class="n-cols-8">
	<input type="hidden" name="id"/>
	<div class="form-cell col-wid-8 plain-text" target="content"></div>
	<div class="form-cell col-wid-8 plain-text">
		Aluno: <span class="aluno-link"></span>		
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-2"></div>
	<div class="form-cell col-wid-2 cancel">
		<input type="button" target="fechar" value="Fechar">
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="adiar" value="Adiar">
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="concluir" value="Excluir">
	</div>
</div>
