<div class="page-title">Editar Agendamento</div>
<div class="form-space"></div>
<div class="n-cols-10">
	<div class="form-cell text col-wid-8">
		<div class="field-title">Aluno</div>
		<input type="text" name="nomeAluno" disabled="true"/>
		<input type="hidden" name="idAluno"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="alterar_aluno" value="Alterar"/>
	</div>
	<div class="form-cell col-wid-7">
		<div class="field-title">Curso</div>
		<select name="idMatricula"></select>
	</div>
	<div class="form-cell col-wid-3">
		<div class="field-title">Semestre</div>
		<input type="text" name="semestre">
	</div>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Disciplina</div>
		<input type="text" name="disciplina"/>
	</div>
	<div class="form-cell col-wid-3">
		<div class="field-title">Data</div>
		<input type="text" name="data">
	</div>
	<div class="form-cell col-wid-3">
		<div class="field-title">Hora</div>
		<input type="text" name="horario" placeholder="opcional">
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-4"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" target="cancel" value="Sair"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="remove" value="Excluir"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="submit" value="Salvar"/>
	</div>
</div>