<div class="page-title">Agendamento AVA</div>
<div class="form-space"></div>
<div class="n-cols-10">
	<input type="hidden" name="id"/>
	<div class="form-cell text col-wid-6">
		<div class="field-title">Aluno</div>
		<input type="text" disabled="true" name="nomeAluno"/>
	</div>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Gerado em</div>
		<input type="text" disabled="true" name="data"/>
	</div>
	<div class="form-cell text col-wid-6">
		<div class="field-title">Curso</div>
		<input type="text" disabled="true" name="nomeCurso"/>
	</div>
	<input type="hidden" name="idCurso"/>
	<div class="form-cell text col-wid-4">
		<div class="field-title">Modalidade</div>
		<input type="text" disabled="true" name="modalidade"/>
	</div>
	<input type="hidden" name="idOfertaCurso"/>
	<input type="hidden" name="idUsuario"/>
	<input type="hidden" name="idSiteParceiro"/>
</div>
<div class="form-space"></div>
<div class="n-cols-10">
	<div class="form-cell col-wid-7"></div>
	<div class="form-cell col-wid-3">
		<input type="button" target="comments" value="Comentários"/>
	</div>
</div>
<div class="form-space"></div>
<div class="form-line"></div>
<div class="form-space"></div>
<div class="n-cols-10">
	<div class="form-cell col-wid-6"></div>
	<div class="form-cell col-wid-2 cancel">
		<input type="button" value="Cancelar"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" target="remove" value="Excluir"/>
	</div>
</div>
