<div class="page-title">Novo Site Parceiro</div>
<div class="form-space"></div>
<div class="n-cols-6">
	<div class="form-cell text col-wid-6">
		<div class="field-title">Nome</div>
		<input type="text" name="nome" autocomplete="off"/>
	</div>
	<div class="form-space"></div>
	<div class="form-cell col-wid-2"></div>
	<div class="form-cell cancel col-wid-2">
		<input type="button" name="cancel" value="Sair"/>
	</div>
	<div class="form-cell col-wid-2">
		<input type="button" name="submit" value="Salvar"/>
	</div>
</div>
